@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: default;
    text-decoration: none;
    /* color: black; */
}
.head_menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
    margin-bottom: -88px;
}
.item_menu{
    margin-left: 2rem;
    cursor: pointer;
    border: solid 3px transparent;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}
.item_menu:hover{
    border-color: white;
    background: #ffffff40;
}
header .item_menu a {
    color: white;
    cursor: pointer;
}
/*.content{
    width: 100%;
    min-height: 200vh;
    margin: auto;
}*/
.carusel{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.img_content{
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.img{
    height: 100vh;
    width: 100vw;
}
.photo_1{
    background: url(assets/photo_1.jpg);
    background-size: cover;
}
.photo_2{
    background: url(assets/photo_2.jpg);
    background-size: cover;
}
.photo_3{
    background: url(assets/photo_3.jpg);
    background-size: cover;
}
.switch{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    justify-content: center;
    gap: 1rem;
}
.switch_item{
    width: 0.5rem;
    height: 0.5rem;
    background: white;
    cursor: pointer;
}
.des_field{
    background: #00000050;
    padding: 2rem;
    width: 100%;
    color: white;
    z-index: 1;
    position: relative;
}
.caption_carusel{
    font-size: 32px;
    padding: 1rem;
}
.description_carusel{
    padding: 1rem;
}
.width_adaptive{
    max-width: 1400px;
    margin: auto;
}
.description_sity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100%;
    background: rgb(66, 144, 218);
    height: 50vh;
    display: flex;
    justify-content: center;
    color: white;
}
.class_footer{
    display: flex;
    padding: 2rem;
    width: 100%;
    gap: 3rem;
}
.caption_column{
    font-size: 24px;
    padding: 1rem;
}
.column ul{
    display: flex;
    flex-direction: column;
}
.column_footer_item{
    cursor: pointer;
    padding: 1rem;
    width: fit-content;
}
.column_footer_item:hover{
    text-decoration: underline;
}